[submodule "catamaran_navigator"]
	path = catamaran_navigator
	url = https://github.com/inesperez03/catamaran_navigator.git
[submodule "sura_msgs"]
	path = sura_msgs
	url = https://github.com/inesperez03/sura_msgs.git
[submodule "thrusters_hardware_interface"]
	path = thrusters_hardware_interface
	url = https://github.com/inesperez03/thrusters_hardware_interface.git
[submodule "catamaran_controllers"]
	path = catamaran_controllers
	url = https://github.com/inesperez03/catamaran_controllers.git
